/* CSS stillerinizi buraya girin */

/* General Settings */

h1, h2 {
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Roboto Mono', monospace;
    background: #2D1E2F;
}
.container {
    width: 80vw;
    margin: 0 auto;
}
img {
    max-width: 100%;
    max-height: 100%;
}
@media screen and (max-width:800px) {
    *, body, h1, h2, a {
        font-size: 90%;
    }
}


/* header */
header {
    background: #f7b32b;
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
header nav a:first-child {
    margin-right: auto;
    text-transform: uppercase;
    font-size: 150%;
}
header nav a {
    padding: 1rem;
    color: #fcf6b1;
    transition: .3s;
}
header nav a:hover {
    color: #2D1E2F;
    text-decoration: underline;
    
}
@media screen and (max-width:425px) {
    header nav {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    header nav a {
        padding: 0.6rem;
    }
    header nav a:first-child {
        margin-right: 0;
    }
}
/* hero */

.hero {
    position: relative;
    text-align: center;
    color: #fcf6b1;
    margin: 0 5%;
}
.hero h1 {
    position: absolute;
    text-transform: uppercase;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.hero a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1%;
    background: #2D1E2F;
    color: #fcf6b1;
}
@media screen and (max-width:1440px) {
    .hero a {
        margin-top: 1%;
    }
}

@media screen and (max-width:1024px) {
    .hero a {
        margin-top: 1.5%;
    }
}
@media screen and (max-width:800px) {
    .hero a {
        margin-top: 2%;
    }
}
@media screen and (max-width:425px) {
    .hero a {
        margin-top: 10%;
    }
}


/* preview */
.preview {
    color: #fcf6b1;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    margin: 1rem 0;
    flex-basis: 30%;
    text-align: center;
}
@media screen and (max-width:1440px) {
    /* .project-card {
        margin: 1rem;
    } */
}
@media screen and (max-width:800px) {
    .project-card{
        flex-basis: 45%;
    }
}
@media screen and (max-width:425px) {
    .project-card {
        flex-basis: 45%;
    }
}


/* footer */
footer {
    background: #f7b32b;
    text-align: center;
    padding: 1.5rem 0;
    
}
footer a {
    padding: .5rem;
    margin: .5rem;
    color: #2D1E2F;
    border: 2px dashed #2D1E2F;
    transition: .3s;
}
footer a:hover {
    background: #fcf6b1;
}




